<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create team</title>
</head>
<body>
    <p>{{ user.username }}, create your team! </p>
    <form method="post">
    <p>Create team at {{ hack.name}}</p>
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <input type="submit" value="Create team"/>
      </form>


</body>
</html>