<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hack.name }}</title>
</head>
<body>
<div>
    <p>{{ hack.name }}</p>
    <p>{{ hack.description }}</p>
    <p>{{ hack.date }}</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
        </form>
{% if not is_user_applied %}
<input type="submit" value="Apply"
    onclick="window.location='{% url 'add_user_to_hack' hack.id user_id %}';" />
    {% elif user_has_team %}
    <p>You are applied! And you are at team {{ users_team_in_hack.name }}</p>
{% else %}
<input type="submit" value="Create team"
    onclick="window.location='{% url 'create_team' hack.id %}';" />
{% endif %}
</div>
</body>
</html>