<html>
<head>
        {% load static %}
</head>
<body>
    	<div id="overlay">
                <form class="form-horisontal" id="overlay-form" onsubmit="return false;">
                </form>
            </div>
            
                    <div id="main"></div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
    window.addEventListener('load', index_start);
</script>
<video></video>
<canvas id="canvasTag" width="0" height="0" hidden></canvas>
</body>
</html>