<!doctype html>
<html>
<head>
		<meta charset="UTF-8">
		{% load static %}
		<title>{{ hack.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/hackathone.css' %}" rel="stylesheet">
		<link href="{% static 'css/design.css' %}" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-height">
			<a class="navbar-brand center logo" href="#">In.Team</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link navbar-fontSize" href="{% url 'hack_list' %}">Хакатоны<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item" style="padding-left: 5%">
						<a class="nav-link navbar-fontSize" href="{% url 'rating' %}">Хакеры</a>
					</li>
					<li class="nav-item" style="padding-left: 5%">
						<a class="nav-link navbar-fontSize" href="{% url 'teams_view' %}">Команды</a>
					</li>
				</ul>
				<div class="user-window">
					<p id="userName" class="lable-userName"><a href="{% url 'profile' %}">{{ user.name }} {{ user.surname }}</a></p>
					<img src="/media/{{ user.avatar }}" id="user_avatar" class="avatar" alt="">
				</div>
			</div>
		</nav>
		<div class="board">
			<table width="300px" cellspacing="0" cellpadding="5">
				<tr> 
					<td width="100%" valign="top">
						<div class="leftBoard">
							<div class="avatar ds-broad">
							</div>
							<div class="registration-buttone">
								{% if not is_user_applied %}
                                    <div class="team-button ds-broad"><a href="{% url 'create_team' hack.id %}">Создать команду</a></div>
								    <div class="team-button-2 team-button ds-broad"><a href="{% url 'teams' hack.id %}">Найти команду</a></div>
								{% else %}
								    <div style="width: 100%">У вас уже есть команда:<a href = "{% url 'teams' users_team_in_hack.id%}">{{ users_team_in_hack.name }}</a></div>
								{% endif %}
							</div>
						</div>
					</td>
					<td width="100%" valign="top">
						<div class="rightBoard">
							<div class="userInfo ds-broad">
								<h1>{{ hack.name }}</h1>
								<p>{{ hack.description }}</p>
								<p>{{ hack.date }}</p>
								<p><i>Rating: </i>
									{% if rating != -1 %}
										{{ rating }}
									{% else %}
										Nothing
									{% endif %}
								</p>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div class="org-info ds-broad" id="org_content">
				<div class="org-content-test">
					<div class="org-content-test-txt">Здесь может быть ваш контент в html</div>
				</div>
			</div>
		</div>
	</body>
</html>
